<nav class="navbar-custom">
    <div class="brand">
        🍔 GOOD HAMBURGER 
    </div>
    
    <div class="nav-links">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="nav-link" href="sandwiches">Sandwiches</NavLink>
        <NavLink class="nav-link" href="extras">Extras</NavLink>
        <NavLink class="nav-link" href="orders">Orders</NavLink>
    </div>
</nav>